$orange: hsl(26, 100%, 55%);
$pale-orange: hsl(25, 100%, 94%);
$very-dark-blue: hsl(220, 13%, 13%);
$dark-grayish-blue: hsl(219, 9%, 45%);
$grayish-blue: hsl(220, 14%, 75%);
$light-grayish-blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: #000;
$lightbox-background: hsl(0, 0%, 25%);

//RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", serif;
  color: $very-dark-blue;
}

//DISPOSITION MENU
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}
.logo {
  margin-left: 15px;
}
nav .right {
  img {
    width: 25px;
    &:last-child {
      margin-left: 20px;
    }
  }
}
nav .left, nav .right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

//MENU HAMBURGER
#hamburger-menu {
  z-index: 9 !important;
  background-color: $white;
  position: fixed;
  top: 0;
  left: -70%;
  width: 70%;
  height: 100%;
  padding: 30px;
  transition: 500ms ease-in-out;
  &.open {
    left: 0;
  }
  a {
    font-weight: 700;
    text-decoration: none;
    color: $black;
    display: block;
    margin-bottom: 25px;
    transition: color 200ms ease-in-out;
    &:hover{
      color: $orange;
    }
  }
}
#hamburger-open {
  cursor: pointer;
}
#hamburger-close {
  margin-bottom: 40px;
  cursor: pointer;
}

p.description {
  font-size: 16px;
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin: 30px;
}
.attribution a {
  color: $orange;
  font-weight: 700;
  text-decoration: none;
}

//GALLERY
.arrows-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 20px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.arrow{
  background-color: $white;
  display: inline-block;
  border-radius: 500px;
  img{
    width: 10px;
    margin: 13px 16px 10px 16px;
  }
  &-next{
  }
  &-previous{
  }
}
.gallery-main {
  z-index: 8 !important;
  position: relative;
  .main-img{
    width: 100%;
    &.hidden {
      display: none;
    }
  }
}
.gallery-mini{
  display: none;
}

//DESCRIPTIF PRODUIT
.text-container{
  padding: 30px;
}
h3{
  color: $orange;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}
h2{
  font-size: 28px;
  margin: 15px 0;
}
.description{
  color: $dark-grayish-blue;
  line-height: 24px;
}

//PRIX
.price{
  margin: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-now{
    display: flex;
    align-items: center;
    &-total{
      font-size: 30px;
      font-weight: 700;
      margin-right: 25px;
    };
    &-discount{
      background-color: $pale-orange;
      color: $orange;
      font-weight: 700;
      padding: 5px 10px;
    }
  };
  &-before{
    font-weight: 700;
    text-decoration: line-through;
    color: $grayish-blue;
    font-size: 18px;
  }
}

//ADD TO CART
.select, .cta {
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.select{
  padding: 10px;
  justify-content: space-between;
  background-color: $light-grayish-blue;
  margin-bottom: 15px;
  &-number{
    font-weight: 700;
  };
  img{
    cursor: pointer;
    padding: 15px;
  }
};
.cta{
  padding: 20px;
  cursor: pointer;
  background-color: $orange;
  justify-content: center;
  box-shadow: 0 20px 15px $pale-orange;
  img{
    margin-right: 15px;
    filter: brightness(100);
  }
  p{
    font-weight: 700;
    color: $white;
  }
}

//CART
.open-cart{
  cursor: pointer;
}
.cart{
  z-index: 9;
  position: fixed;
  left: 50%;
  transform:translateX(-50%);
  top: -100%;
  width: 95%;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 20px 20px #0000003e;
  transition: top 200ms ease-in-out;
  &-title{
    padding: 25px;
    font-weight: 700;
    border-bottom: solid 1px $grayish-blue;
  }
  &-content{
    padding: 30px;
    &-empty{
      margin: 80px 0;
      font-weight: 700;
      color: $dark-grayish-blue;
      text-align: center;
      &.hidden{
        display: none;
      }
    }
    &-full{
      &-row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        img:first-child{
          width: 50px;
          border-radius: 5px;
        };
        p{
          margin: 0 15px;
        };
        #cart-amount{
          
        };
        #cart-total{
          padding-left: 6px;
          font-weight: 700;
        };
      }
      #checkout{
        padding: 20px;
        cursor: pointer;
        background-color: $orange;
        justify-content: center;
        box-shadow: 0 20px 15px $pale-orange;
        border-radius: 10px;
        color: $white;
        font-weight: 700;
        text-align: center;
        margin-top: 25px;              
      }
      &.hidden{
        display: none;
      }
    }
  }
  &.visible {
    top: 85px;
  }
}
#delete{
  cursor: pointer;
}